

<form (ngSubmit)="emailNewCod()" [formGroup]="emailNewGroup" class="max-w-lg my-40 mx-auto">
  <div class="relative z-0 w-full mb-5 group">
      <input formControlName="resetCode" type="text" name="text" id="text" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
      <label for="text" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> code number</label>
  </div>
  @if (emailNewGroup.get('resetCode')?.errors && emailNewGroup.get('resetCode')?.touched) {
    <div class=" bg-red-200 text-red-500 py-4 px-16">

@if (emailNewGroup.get('resetCode')?.errors?.['required'] && emailNewGroup.get('resetCode')?.touched) {


<h2 class=""> resetCode is required </h2>

}

@if (emailNewGroup.get('resetCode')?.errors?.['pattern'] && emailNewGroup.get('resetCode')?.touched) {


  <h2 class=""> pattern is required </h2>

  }




    </div>

  }


  <button [disabled]="emailNewGroup.invalid" type="submit" class="text-white px-5 py-2 bg-green-500 rounded-lg  ">
    Submit

    @if (isLoading) {


      <i class="fa-solid fa-spinner fa-spin"></i>
    }




  </button>
</form>

