


<!-- <div class=" mt-20">
<div class=" sm:flex items-center justify-between  ">
<div class="mt-36 sm:mt-0 sm:w-8/12">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
   <img class=" w-full h-[500px] object-cover" src="assets/finalProject assets/images/slider-image-2.jpeg" alt="">
    </ng-template>
    <ng-template carouselSlide>
      <img class=" w-full h-[500px] object-cover" src="assets/finalProject assets/images/slider-image-2.jpeg" alt="">
       </ng-template>
       <ng-template carouselSlide >
        <img class=" w-full h-[500px]  object-cover" src="assets/finalProject assets/images/slider-2.jpeg" alt="">
         </ng-template>
  </owl-carousel-o>
</div>
<div class=" sm:w-4/12 ">
  <img class=" w-full h-[250px]  " src="assets/finalProject assets/banner-4.jpeg" alt="">
  <img class=" w-full h-[250px] " src="assets/finalProject assets/blog-img-2.jpeg" alt="">
</div>
</div>
</div> -->










<div class=" mt-20">
  <h4 class=" ">main slider</h4>
  <div class=" sm:flex items-center justify-between  ">
  <div class=" sm:w-8/12">
        <img class=" w-full h-[500px] object-cover" src="../../../../assets/finalProject assets/images/slider-image-2.jpeg" alt="">
  </div>
  <div class=" sm:w-4/12 ">
    <img class=" w-full h-[250px]  " src="../../../../assets/finalProject assets/banner-4.jpeg" alt="">
    <img class=" w-full h-[250px] " src="../../../../assets/finalProject assets/blog-img-2.jpeg" alt="">
  </div>
  </div>
  </div>
